.mainPage {
  text-align: center;
  background-color: #9fc5e8;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: white;
  font-size: 10vh;
}

.buttonSet {
  flex-direction: column;
  justify-items: center;
  display: flex;
  height: 20vh;
  align-items: center;
  width: 100vw;
}

.createButton {
  border: none;
  margin-bottom: 4vh;
  border-radius: 10%;
  width: 20vh;
  height: 8vh;
  background-color: #3da4d5;
}

.enterButton {
  border: none;
  border-radius: 10%;
  width: 20vh;
  height: 8vh;
  background-color: #3da4d5;
}

.modal {
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #61dafb;
  width: 300px;
  height: 200px;
  border: none;
  border-radius: 10%;
}

.modalSubmitButton {
  border: none;
  border-radius: 10%;
  width: 15vh;
  height: 5vh;
  margin-top: 5vh;
  background-color: #3da4d5;
}
